.porco {
    color: rgb(15, 15, 44);
    text-align: center;
}
.titolo {
    background-color: rgb(114, 136, 144);
}
.si {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.idk {
    width: 900px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(218, 218, 249)
}
.meow {
    background-image: url("../../foto/1111/sfondo1.jpg")
}
.no {
    background-color: rgb(202, 202, 234);
}
.meduse {
    width: 900px;
    margin: 0 auto;
    font-size: large;
    background-color:rgb(218, 218, 249);
}
.dd {
    width: 600px;
    margin: 0% auto;
    background-color: white;
}
.pp {
    width: 400px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.jj {
    color: white;
    text-align: center;
}
.sectit {
    background-color: #e68bbe;
}